<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THC NAZA NFTs</title>
    <meta name="description" content="TranshumanCoin presents an NFT collection that ties together Binance Smart Chain and Transhuman Coin" />

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">


    <!-- Bootstrap CSS / Color Scheme / Stars -->
    <link rel="stylesheet" href="css/stars.css">
    <link rel="stylesheet" href="css/default.css" id="theme-color">

    <!-- Web3js -->
    <!-- <script src='node_modules/web3/dist/web3.min.js'></script> -->
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <!-- Metamask Detection -->
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>

</head>

<body>

    <!--navigation-->
    <section class="smart-scroll">
    <div class="url-banner"><span>Please make sure the URL is https://thcnaza.com.</span></div>
        <div class="container-fluid">
            <div class="background">
                <div id="stars"></div>
                <div id="stars2"></div>
                <div id="stars3"></div>
            </div>
            <nav class="navbar navbar-expand-md navbar-dark">
                <a class="navbar-brand heading-black" href="index.html">
                    THC_NAZA NFTS
                </a>
                <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span data-feather="grid"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#naza-nfts">NAZA NFTs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#minting">NAZA Minting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#thc-utility">THC_NAZA Utility</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="https://transhumancoin.finance/whitepaperthc.pdf">TranshumanCoin Whitepaper</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <!--hero header-->
    <section class="py-7 py-md-0 bg-hero" id="home">
        <div class="container">
            <div class="row vh-md-100">
                <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                    <h2 class="heading-black text-capitalize" style="color:#1de9b6;">THC_NAZA NFT <br /> COLLECTION</h2>
                    <p class="lead py-3">Introducing the Transhuman Coin "Neural Astronomy Zone Ancillary" NFTs.<br /><br />Embark on a journey into a metaverse of Transhumanism and tokenomics.</p>
                    <br />
                    <a href="https://countingdownto.com/?c=3970300">Click here for countdown to drop</a>
                    <br>
                    <button class="btn btn-primary d-inline-flex flex-row align-items-center" id="loginButton" onclick="">
                        Connect Wallet
                    </button>
                    <p id='userWallet' class='text-lg text-gray-600 my-2'></p>
                    <p id='userNetwork' class='text-lg text-gray-600 my-2'></p>
                </div>
            </div>
        </div>
    </section>

    <!-- nfts -->
    <section class="pt-6 pb-7" id="naza-nfts">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">500 THC_NAZA NFTs.<br />100 RARES. <br /> 400 STANDARD ISSUES.<br />5 LEVELS OF RARITY. <br /></h2>
                    <p class="text-muted lead">ULTRA RARE. SUPER DUPER RARE. <br /> SUPER RARE. VERY RARE. RARE. </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row feature-boxes">
                        <div class="col-md-6 box">
                            <div class="image-container">
                                <div class="icon-box-inner">
                                    <img src="img/THC_NAZA_000.jpg" height=100% width=100% />
                                </div>
                            </div>
                            <br>
                            <h5 style="text-align:left;">Ultra Rare. THC_NAZA_000.</h5>
                            <p style="text-align:left;" class="text-muted"> One of a kind. This is the genesis THC NAZA NFT. It contains Oolong in all of the various positions seen in the top ten NFTs <i>except</i>for THC_NAZA_001 'Photo Bomb'.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="image-container">
                                <div class="icon-box-inner">
                                    <img src="img/THC_NAZA_001.jpg" height="100%" width="100%" />
                                </div>
                                <br>
                            </div>
                            <h5 style="text-align:left;">Super Duper Rare. THC_NAZA_001.</h5>
                            <p class="text-muted" style="text-align:left;"> Also one of a kind. The only top ten NFT that is <i>not</i> included in THC_NAZA_000. Oolong performs a photo bomb flyby. You can also see the THC logo on the side of his rocket.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="image-container">
                                <div class="icon-box-inner">
                                    <img src="img/THC_Super Rares.gif" height="100%" width="100%" />
                                </div>
                                <br>
                            </div>
                            <h5 style="text-align:left;">Super Rare. THC_NAZA_002-010.</h5>
                            <p class="text-muted" style="text-align:left;">Nine unique nft's that all feature Oolong in different positions as  featured in the ultra-rare NFT.</p>
                        </div>
                        <div class="col-md-6 box">
                            <div class="image-container">
                                <div class="icon-box-inner">
                                    <img src="img/THC_Very Rare and Rare.gif" height="100%" width="100%" />
                                </div>
                                <br>
                            </div>
                            <h5 style="text-align:left;">Very Rare & Rare. THC_NAZA_011-100</h5>
                            <p class="text-muted" style="text-align:left;">THC_NAZA_011-50 and THC_NAZA_051-100. Oolong and Transhuman traveller stand side by side. 40 cyan suit NFTs and 50 blue suit NFTs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-md-6 mr-auto">
                    <h2>400 Standard Issue <br /> NAZA NFT's.</h2>
                    <p class="text-muted lead">Transhuman traveller stands gazing at the NAZA super-intelligence neural net. All 400 standard issue ancillary NFTs are stamped with chronologically certified proof of your passport in the Transhuman metaverse.<br /> <br /></p>

                </div>
                <div class="col-md-5">
                    <div class="slick-about">
                        <img src="img/THC_NAZA_101.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 3" />
                        <img src="img/Standard%20Issue%20101a.jpeg" class="img-fluid rounded d-block mx-auto" alt="Work 1" />
                        <img src="img/Standard%20Issue%20101b.jpeg" class="img-fluid rounded d-block mx-auto" alt="Work 2" />
                        <img src="img/Standard%20Issue%20101c.jpeg" class="img-fluid rounded d-block mx-auto" alt="Work 3" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--minting -->
    <section class="py-7 bg-dark section-angle top-right bottom-left" id="minting">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="text-white heading-black">3 MINTING OPTIONS. LAUNCHES ON DEC 10TH</h2>
                    <p class="text-light lead">Forget huge gas fees, we run on BSC rocket fuel. LFG!</p>
                </div>
            </div>
            <!--minting tables-->
            <div class="row pt-5 minting-table">
                <div class="col-12 mx-auto">
                    <div class="card-deck minting-table">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">The Ultra Rare</h3>
                                <h2 class="card-title text-primary mb-0 pt-4">10 BNB</h2>
                                <div class="text-muted font-weight-medium mt-2">NAZA_000</div>
                                <br />
                                <ul class="list-unstyled pricing-list">
                                    <li>• NAZA_000 ~ One of a kind.</li>
                                    <li>• Contains 9 of top 10 Oolong positions.</li>
                                    <li>• Transhuman Coin drop to your wallet.</li>
                                    <li>• Honorary THC Coin website mention </li>
                                    <br />
                                    <br />
                                </ul>
                                <button id="" onclick="" class="btn btn-primary" style="width: 100%;">
                                    SOLD OUT
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">Other Rare Types</h3>
                                <h2 class="card-title text-primary mb-0 pt-4">0.5 BNB</h2>
                                <div class="text-muted font-weight-medium mt-2">THC_NAZA_001-100</div>
                                <br />
                                <ul class="list-unstyled minting-list">
                                    <li>• NAZA_001 ~ One of a kind.</li>
                                    <li>• NAZA_002-010 ~ 9 Super Duper Rare.</li>
                                    <li>• NAZA_011-050 ~ 40 Super Rare.</li>
                                    <li>• NAZA_051-100 ~ 50 Rare.</li>
                                    <br />
                                    <br />
                                </ul>
                                <button id="mintRareNFT" onclick="" class="btn btn-info" style="width: 100%;">
                                    MINT 1 x NAZA_001-100
                                </button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title pt-3">Standard Issues</h3>
                                <h2 class="card-title text-info mb-0 pt-4">0.25 BNB</h2>
                                <div class="text-muted font-weight-medium mt-2">THC_NAZA_100-500</div>
                                <br />
                                <ul class="list-unstyled minting-list">
                                    <li>• Transhuman Traveller in blue suit.</li>
                                    <li>• Chronological THC_NAZA NFT value.</li>
                                    <li>• Access to exclusive upcoming Transhuman Coin (THC) Finance events.</li>
                                    <br />
                                    <br />
                                </ul>
                                <button id="mintStandardNFT" onclick="" class="btn btn-info" style="width: 100%;">
                                    Mint 1 x NAZA_101-500
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6" style="align-items: center;justify-content: center;">
                <h4 style="">Additional Utilities of NAZA nft's </h4>
                <div class="col-md-9">
                    <ul class="features-list">
                        <li>Opportunities to win free THC lottery tickets</li>
                        <li>Be part of exciting opportunities for BSC nft hodlers.</li>
                        <li>Be first in line for upcoming THC airdrops</li>
                        <li>Have your say on THC fund wallet donations</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-8 col-12 divider top-divider mx-auto pt-5 text-center">
                    <h3>Want to shill, trade or tokenise your new NAZA nft into THC with fellow transhumans?</h3>
                    <p class="mb-4">Join us on the Transhuman Coin Discord server or read below for more on THC.</p>
                    <a href="https://discord.gg/mj72jmyMTw" class="btn btn-primary">
                        Take me to THC's Discord
                    </a>
                    <br/><br/>
                      <a href="https://t.me/buytranshumancoin" class="btn btn-info">
                        Take me to THC's Telegram
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--THC Utility -->
    <section class="py-7" id="thc-utility">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="img/thc_logo.jpg" alt="W3Schools.com" width="200" height="200">
                    <h2 style="color:limegreen;">Transhuman Coin (THC) & NAZA NFT utility.</h2>
                    <p class="text-muted lead">Your NAZA NFT investment will create utility for the Transhuman Coin (THC) research and charity token. THC supports global Transhumanism longevity, intelligence and wellbeing projects.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">What is Transhuman Coin?</h5>
                            <p class="text-muted">Transhuman Coin is a dedicated research and charity token supporting global Transhumanism projects. THC token is founded on the Transhuman ideology of enhancing and enriching human life through science and technology.
                            </p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">Increase THC Liquidity.</h5>
                            <p class="text-muted">2% of THC transacted value is sent directly to its Liquidity Pool to enable more transactions with Transhuman Coin.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">Who are team NAZA?</h5>
                            <p class="text-muted">The NAZA team, working closely with Transhuman Coin devs, consists of Cy Gorman (Creative Director/Design Lead/Dev), Beau Williams (Web3/Dev), Ansaar Younos (Designer) and Peter Xing (H+ Consultant).</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">Increase THC fund wallet.</h5>
                            <p class="text-muted">2% is redistributed to holders, including the Transhuman Fund Wallet for contributions to transhuman projects and charities.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">Official Legacy Collection.</h5>
                            <p class="text-muted">The THC_NAZA collection is the first official nft collection of THC. THC and NAZA NFT's are both available on BSC and listed on PancakeSwap. NAZA nft's offer exclusive benefits to collectors or traded in exchange for WBNB and swapped for THC.</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:limegreen;">Increase THC Marketing budget.</h5>
                            <p class="text-muted">2% is sent to the Transhuman Marketing Wallet to promote the transhumanism movement and Transhuman Coin. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h5 class="mb-4">Want to know more about Transhuman Coin?</h5>
                    <a href="https://transhumancoin.finance/" class="btn btn-primary">Visit THC FINANCE</a>
                </div>
            </div>
        </div>
    </section>

    <!--Cy Gorman-->
    <section class="py-7 bg-dark section-angle top-left bottom-left" id="cy-gorman">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">TRANSHUMANCOIN PROJECTS AND PARTNERS</h2>
                    <p class="text-muted lead">.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-raised" src="https://i.ibb.co/BqWwByf/Screen-Shot-2021-12-10-at-9-08-23-am.png" alt="Blog 2">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title mb-2">
                                <h5>TranshumanCoin NFT Metaverse Gallery</h5>
                            </a>
                            <p class="text-muted small-xl mb-2">AVAILABLE NOW</p>
                            <p class="card-text">Collaborating with our hodlers and fans we have created an interactive metaverse gallery experience to view the TranshumanCoin community generated artworks and NFTs<br /><br /><br />
                                    <br>
                                <a href="https://app.spatial.io/rooms/617154d381bfe10001ce46a2 ">Click here to enter the THC NFT metaverse</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-raised" src="https://i.ibb.co/JKrZpPN/Screen-Shot-2021-12-10-at-8-15-51-am.png" alt="THC Marketplace">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title mb-2">
                                <h5>TranshumanCoin Finance Marketplace</h5>
                            </a>
                            <p class="text-muted small-xl mb-2">IN BETA</p>
                            <p class="card-text">Bringing even more utility to TranshumanCoin + supporting the Transhumanist community globally we are launching a Transhumanist marketplace and have a list or partners and product set to expand<br /> <br />You will receive discounts by shopping with your $THC<br /><br />
                                <a href="http://transhumancoin.finance/shop">Visit our prototype THC Transhuman Marketplace here</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-raised" src="img/h-plus.jpeg" alt="Blog 3">
                        </a>
                        <div class="card-body">
                            <a href="#" class="card-title mb-2">
                                <h5>TranshumanCoin Scientific Advisory Board</h5>
                            </a>
                            <p class="text-muted small-xl mb-2">ANNOUNCED + MORE MEMBERS TO COME</p>
                            <p class="card-text">The decisions to allocate the Transhuman Coin Fund are approved by our Scientific Advisory Board, including: Dr Natasha Vita-More, Dr Avinash Singh, Dr Adetola Mowowale, Dr Jabu Nkehli, Art Ramon, Zane Ma, Jonathan Woods  <br /><br />
                                <br /><a href="https://cyberbump.net/natasha-vita-more-david-wood-joins-meeting-with-transhuman-coin-scientific-advisory-board-members-2/">Learn about our scientific advisory board here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--About Cy -->
    <section class="py-7" id="about cy">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">THC NAZA DESIGNER</h2>
                    <p class="text-muted lead">.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="img/cy-gorman-nurobodi.jpg" alt="W3Schools.com" width="300" height="300">
                    <h2 style="color:#00B3BC;">Cy Gorman</h2>
                    <p class="text-muted lead">Cy Gorman is a future focused digital designer, producer, and decentralised community developer. He is an award winning audiovisual designer, film-maker and published music artist/record producer. Cy is also the founder of Nurobodi sound-light entrainment wellbeing and a digital media course designer and lecturer at RMIT University, Melbourne.
                    </p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h5 style="color:#04BFBF;">CG Nurbodi Wellbeing</h5>
                            <p>Cy was awarded the Australia Pacific Creative Industry 'Human 2.0' scholarship for his startup Nurobodi. Nurobodi focuses on the use of ossilating sound-colour products and services for human wellbeing. Find out more about Nurobodi <a href="https://nurobodi.com/testimonials">here</a>. </p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:#04BFBF;">CG Education Design</h5>
                            <p>Nominated for his contribution to mind-body wellbeing within the RMIT University Digital Media program, Cy continues to focus on sound-colour psychology for UX/XR amd immersive digital environments. Follow on <a href="https://www.linkedin.com/in/cygorman/">LinkedIn</a>. </p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:#04BFBF;">CG Film Production</h5>
                            <p>Cy's experiemental dance-film project Augmented Organism was an official selection and finalist for the 2020 Real World VR Awards and the G-Bienalle Immersive 360 Film awards. Learn more about the <i>A</i>UG ORG project <a href="https://augmentedorganism.com/">here</a>.
                            </p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h5 style="color:#04BFBF;">CG Music Production</h5>
                            <p>Although he remains under the radar his releases have received airtime and props from BBC's Gilles Peterson and KCRW's Garth Trinidad. Find CG Music on all major digital music platforms and on Bandcamp <a href="https://cygorman.bandcamp.com/">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h5 class="mb-4">Want to be part of Cy Gorman Creative Projects?</h5>
                    <a href="https://www.cygormanvisual.com/connect-with-cy" class="btn btn-info">Connect with Cy</a>
                </div>
            </div>
        </div>
    </section>


    <section class="py-7" id="about dev">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <h2 class="heading-black">THC NAZA DEV</h2>
                    <p class="text-muted lead">.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <img src="https://i.ibb.co/wyrBqc0/me-circle-cropped.png" alt="Beau Williams" width="300" height="300">
                    <h2 style="color:#00B3BC;">Beau Williams</h2>
                    <p class="text-muted lead">Beau Williams is the co-founder of Transhumanism Australia, open source developer, full stack blockchain developer as well as an avid sociologist. He is currently working on a number of crypto projects.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mx-auto text-center">
                    <h5 class="mb-4">Want to learn more about the TranshumanCoin development team?</h5>
                    <a href="https://transhumancoin.finance/whitepaperthc.pdf" class="btn btn-info">See the TranshumanCoin whitepaper</a>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="py-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 mr-auto">
                    <h5>What is The Fire Under Transhuman Coin?</h5>
                    <p class="text-muted">Transhumanism is a philosophical movement devoted to promoting the research and development of robust human-enhancement technologies. Such technologies would augment or increase human sensory reception, emotive ability, or cognitive capacity as well as radically improve human health and extend human life spans.</p>
                    <br /><br />
                </div>
                <div class="col-sm-2">
                    <h5 style="color:#f2a900;">Cy Gorman</h5>
                    <ul class="list-unstyled">
                        <li><a style="color:#f2a900;" href="#">Website</a></li>
                        <li><a style="color:#f2a900;" href="#">Twitter</a></li>
                        <li><a style="color:#f2a900;" href="#">Instagram</a></li>
                        <li><a style="color:#f2a900;" href="#">Discord</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5 style="color:cyan;">Beau Williams</h5>
                    <ul class="list-unstyled">
                        <li><a style="color:cyan;" href="https://beauwilliams.dev/">Website</a></li>
                        <li><a style="color:cyan;" href="https://github.com/beauwilliams">Github</a></li>
                        <li><a style="color:cyan;" href="https://www.linkedin.com/in/beau-w-223b0768/">Linkedin</a></li>
                        <li><a style="color:cyan;" href="https://blog.beauwilliams.dev/">Blog</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5 style="color:limegreen;">TranshumanCoin</h5>
                    <ul class="list-unstyled">
                        <li><a style="color:limegreen;" href="https://transhumancoin.finance/">Website</a></li>
                        <li><a style="color:limegreen;" href="https://twitter.com/transhumancoin">Twitter</a></li>
                        <li><a style="color:limegreen;" href="https://t.me/buytranshumancoin">Telegram</a></li>
                        <li><a style="color:limegreen;" href="https://discord.gg/mj72jmyMTw">Discord</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-muted text-center small-xl">
                    &copy; 2021 - All Rights Reserved
                </div>
            </div>
        </div>
    </footer>

    <!--scroll to top-->
    <div class="scroll-top">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cygorithm.com/minter.js"></script>


</body></html>
